![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

# Deep Multivariable Neural Network

In [2]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import sys

We will implement mlflow for training a multivariable deep neural network

### Loading and Cleaning the Data

In [13]:
# Load the training and test sets

X_train = pd.read_csv('../Data/X_train.csv')
y_train = pd.read_csv('../Data/y_train.csv')
X_test = pd.read_csv('../Data/X_test.csv')
y_test = pd.read_csv('../Data/y_test.csv')

for dataset in [X_train, y_train, X_test, y_test]:
    print(dataset.shape)

X_train = X_train.drop(X_train.columns[0], axis=1)
y_train = y_train.drop(y_train.columns[0], axis=1)
X_test = X_test.drop(X_test.columns[0], axis=1)
y_test = y_test.drop(y_test.columns[0], axis=1)

for dataset in [X_train, y_train, X_test, y_test]:
    print(dataset.shape)
    
X_train

(1951, 29)
(1951, 2)
(488, 29)
(488, 2)
(1951, 28)
(1951, 1)
(488, 28)
(488, 1)

,comments,duration,languages,num_speaker,film_month,pub_month,film_weekday,pub_weekday,Funny,Beautiful,...,Jaw-dropping,OK,Obnoxious,Inspiring,positive,negative,pop_ratio,Popular,event_cat_TED,event_cat_TEDx
0,46,956,22,1,4,9,5,3,18,20,...,29,72,238,72,791,754,1.049072,0,0,1
1,25,686,23,1,6,7,5,1,52,319,...,47,5,4,282,1027,11,93.363636,1,1,0
2,40,276,28,1,12,4,2,2,11,123,...,22,31,13,71,312,44,7.090909,1,1,0
3,53,518,24,1,2,2,4,3,202,14,...,79,50,7,24,829,53,15.641509,1,1,0
4,103,878,26,1,2,6,1,3,16,109,...,33,40,1,86,772,30,25.733333,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1946,104,470,37,1,7,11,2,1,393,245,...,85,48,5,248,1956,33,59.272727,1,1,0
1947,82,703,33,1,6,8,0,1,0,56,...,28,39,2,247,656,17,38.588235,1,0,1
1948,177,239,41,1,2,4,6,4,112,178,...,76,210,209,157,1048,716,1.463687,0,1,0
1949,174,1152,20,1,2,6,4,0,2,256,...,153,51,43,448,1955,238,8.214286,1,1,0
1950,376,1006,34,1,2,3,1,3,95,182,...,2026,71,13,907,6254,55,113.709091,1,1,0

In [14]:
X_train.columns[0]

'comments'

In [18]:
X_test.columns

Index(['comments', 'duration', 'languages', 'num_speaker', 'film_month',
       'pub_month', 'film_weekday', 'pub_weekday', 'Funny', 'Beautiful',
       'Ingenious', 'Courageous', 'Longwinded', 'Confusing', 'Informative',
       'Fascinating', 'Unconvincing', 'Persuasive', 'Jaw-dropping', 'OK',
       'Obnoxious', 'Inspiring', 'positive', 'negative', 'pop_ratio',
       'Popular', 'event_cat_TED', 'event_cat_TEDx'],
      dtype='object')

In [16]:
y_test

       views
0    4376218
1     727807
2     602203
3    1407692
4     620073
..       ...
483   736224
484  1101811
485  1419314
486   679711
487  1654299

[488 rows x 1 columns]

We need to create dummy variables for the variables that should be categorical variables such as film_month, pub_month, etc. and the other categorical variables in the original dataset, such as speaker_occupation, should also be included in the data before analysis is done.